In [30]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [31]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [32]:
recs = pd.DataFrame.from_csv('recs2009_public.csv', index_col=None)
recs.head()

,DOEID,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,...,SCALEEL,KAVALNG,PERIODNG,SCALENG,PERIODLP,SCALELP,PERIODFO,SCALEFO,PERIODKR,SCALEKER
0,1,2,4,12,2,2471.679705,4742,1080,4953,1271,...,0,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,2,4,10,26,2,8599.172010,2662,199,2688,143,...,0,1,1,0,-2,-2,-2,-2,-2,-2
2,3,1,1,1,5,8969.915921,6233,505,5741,829,...,0,3,5,3,-2,-2,-2,-2,-2,-2
3,4,2,3,7,2,18003.639600,6034,672,5781,868,...,3,3,5,3,-2,-2,-2,-2,-2,-2
4,5,1,1,1,3,5999.605242,5388,702,5313,797,...,0,1,1,0,-2,-2,-2,-2,-2,-2

In [33]:
r = recs[['TOTSQFT','TOTROOMS','TOTALBTU','TOTALDOL']]
r.head()

   TOTSQFT  TOTROOMS  TOTALBTU  TOTALDOL
0     5075         9     63006      1315
1     3136         4    103460      1293
2      528         2     58716      1327
3     2023         7     76401      1398
4     1912         5     59809      1558

In [34]:
div = {'REGIONC_1':'Northeast',
       'REGIONC_2':'Midwest',
       'REGIONC_3':'South',
       'REGIONC_4':'West'}

s = recs[['REGIONC']]
s.head()

   REGIONC
0        2
1        4
2        1
3        2
4        1

In [35]:
d = pd.get_dummies(s, columns=['REGIONC'])
d.head()

   REGIONC_1  REGIONC_2  REGIONC_3  REGIONC_4
0          0          1          0          0
1          0          0          0          1
2          1          0          0          0
3          0          1          0          0
4          1          0          0          0

In [36]:
d = d.rename(columns=div)
d = d.astype(bool)
d.head()

  Northeast Midwest  South   West
0     False    True  False  False
1     False   False  False   True
2      True   False  False  False
3     False    True  False  False
4      True   False  False  False

In [37]:
df = r.join(d)
df.head()

   TOTSQFT  TOTROOMS  TOTALBTU  TOTALDOL Northeast Midwest  South   West
0     5075         9     63006      1315     False    True  False  False
1     3136         4    103460      1293     False   False  False   True
2      528         2     58716      1327      True   False  False  False
3     2023         7     76401      1398     False    True  False  False
4     1912         5     59809      1558      True   False  False  False

In [38]:
train, test = train_test_split(df)

In [39]:
df_train = train.drop('TOTALBTU',1)

In [40]:
df_test = test.drop('TOTALBTU',1)

In [41]:
regr = linear_model.LinearRegression()

In [42]:
%%time
regr.fit(df_train,train.TOTALBTU)

Wall time: 8.99 ms

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
print('Coefficients: \n', regr.coef_)

Coefficients:
 [  3.71214148e+00   1.99681732e+03   3.27460379e+01  -1.40887087e+03
   1.95021917e+04  -1.64457400e+04  -1.64758083e+03]

In [44]:
print('Variance score: %.2f' % regr.score(df_train,train.TOTALBTU))

Variance score: 0.73

In [45]:
regr.score(df_train,train.TOTALBTU)

0.7304757662784428