In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import warnings
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_classif

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
recs = pd.DataFrame.from_csv('recs2009_public_clean.csv', index_col=None)
recs.head()

,DOEID,REGIONC,DIVISION,REPORTABLE_DOMAIN,TYPEHUQ,NWEIGHT,HDD65,CDD65,HDD30YR,CDD30YR,...,SCALEEL,KAVALNG,PERIODNG,SCALENG,PERIODLP,SCALELP,PERIODFO,SCALEFO,PERIODKR,SCALEKER
0,1,2,4,12,2,2471.679705,4742,1080,4953,1271,...,0,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,2,4,10,26,2,8599.172010,2662,199,2688,143,...,0,1,1,0,-2,-2,-2,-2,-2,-2
2,3,1,1,1,5,8969.915921,6233,505,5741,829,...,0,3,5,3,-2,-2,-2,-2,-2,-2
3,4,2,3,7,2,18003.639600,6034,672,5781,868,...,3,3,5,3,-2,-2,-2,-2,-2,-2
4,5,1,1,1,3,5999.605242,5388,702,5313,797,...,0,1,1,0,-2,-2,-2,-2,-2,-2

In [4]:
X = recs.drop('TOTALBTU',1)
y = recs.TOTALBTU

In [5]:
cols = list(X)
s = SelectKBest(f_classif, k=1)

In [6]:
def col_Check(i,c):
# i = initialized value for count: what column to start with.
# c = number of columns to check.
    count = i
    d = {}
    while count < c:
        
        with warnings.catch_warnings():
            warnings.filterwarnings('error')
            
            try:
                x = pd.DataFrame(X[cols[count]])
                score = s.fit(x,y).scores_
                #d[cols[count]] = score[0]
                count += 1
            except:
                d[cols[count]] = count
                count += 1
                #return cols[count]
                #break
                
    return d

In [7]:
d = col_Check(300,400)

In [8]:
d

{'ELOTHER': 373, 'FOILAUX': 385, 'KROTHER': 391, 'KRWATER': 390}

In [9]:
d = col_Check(0,len(cols))

In [10]:
d

{'AGEHHMEMCAT12': 451,
 'AGEHHMEMCAT13': 452,
 'AGEHHMEMCAT14': 453,
 'BTUKEROTH': 538,
 'BTUKERWTH': 537,
 'DOLKEROTH': 542,
 'DOLKERWTH': 541,
 'ELOTHER': 373,
 'FOILAUX': 385,
 'GALLONKEROTH': 534,
 'GALLONKERWTH': 533,
 'KROTHER': 391,
 'KRWATER': 390,
 'RADFUEL': 244}

In [18]:
l = list(d.keys())

In [36]:
for item in l:
    n = l.index(item)
    print(X[l[n]].value_counts())
    print()

-2     12024
 1        25
 3        22
 5         5
 2         4
 21        2
 7         1
Name: RADFUEL, dtype: int64

1    12082
0        1
Name: ELOTHER, dtype: int64

0    12030
1       53
Name: FOILAUX, dtype: int64

0    12080
1        3
Name: KRWATER, dtype: int64

0    12045
1       38
Name: KROTHER, dtype: int64

-2    12077
 2        5
 1        1
Name: AGEHHMEMCAT12, dtype: int64

-2    12079
 1        3
 2        1
Name: AGEHHMEMCAT13, dtype: int64

-2    12079
 1        4
Name: AGEHHMEMCAT14, dtype: int64

0      12080
382        1
307        1
129        1
Name: GALLONKERWTH, dtype: int64

0      12045
1          6
15         5
3          3
2          2
8          2
5          2
25         2
12         2
19         2
17         1
129        1
425        1
127        1
10         1
18         1
27         1
36         1
182        1
382        1
422        1
50         1
Name: GALLONKEROTH, dtype: int64

0        12080
41435        1
51584        1
17336        1
Name: BTUKERWTH, dtype: int64

0.000        12045
135.000          6
2025.000         4
405.000          3
675.000          2
270.000          2
1080.000         2
2283.000         1
2515.000         1
24624.000        1
17469.000        1
2507.000         1
1350.000         1
1620.000         1
6750.000         1
3375.000         1
4908.000         1
56984.000        1
51584.000        1
57308.157        1
2015.000         1
2374.000         1
3360.000         1
17199.000        1
3629.000         1
1592.000         1
Name: BTUKEROTH, dtype: int64

0      12080
317        1
763        1
944        1
Name: DOLKERWTH, dtype: int64

0.000       12045
15.000          3
5.000           2
3.000           2
26.000          2
41.000          1
321.000         1
12.000          1
4.000           1
48.000          1
6.000           1
1.000           1
1064.000        1
40.000          1
7.000           1
8.000           1
150.000         1
91.000          1
55.000          1
42.000          1
457.000         1
1117.371        1
315.000         1
944.000         1
89.000          1
38.000          1
60.000          1
88.000          1
9.000           1
44.000          1
23.000          1
68.000          1
69.000          1
25.000          1
Name: DOLKEROTH, dtype: int64

In [37]:
len(X)

12083